.chief-card {
  padding-right: 30px;
  padding-left: 30px;

  text-align: left;
}

.chief-card__title {
  @include MP-reset();

  position: relative;

  margin-top: 90px;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 6.75px;

  &::before {
    content: "";
    position: absolute;
    top: -30px;

    width: 25px;
    height: 1px;

    border-top: 1px solid #000000;
  }
}

.chief-card__chapter {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
  font-family: "MinionPro-MediumSubh";
  font-style: italic;
}

.chief-card__description {
  @include MP-reset();

  margin-bottom: 10px;

  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: left;
}
