.datepicker--cell-day.-other-month-,
.datepicker--cell-year.-other-decade- {
  color: #dedede;
}
.datepicker--cell-day.-other-month-:hover,
.datepicker--cell-year.-other-decade-:hover {
  color: #c5c5c5;
}
.-disabled-.-focus-.datepicker--cell-day.-other-month-,
.-disabled-.-focus-.datepicker--cell-year.-other-decade- {
  color: #dedede;
}
.-selected-.datepicker--cell-day.-other-month-,
.-selected-.datepicker--cell-year.-other-decade- {
  color: #ffffff;

  background: #a2ddf6;
}
.-selected-.-focus-.datepicker--cell-day.-other-month-,
.-selected-.-focus-.datepicker--cell-year.-other-decade- {
  background: #8ad5f4;
}
.-in-range-.datepicker--cell-day.-other-month-,
.-in-range-.datepicker--cell-year.-other-decade- {
  color: #cccccc;

  background-color: rgba(92, 196, 239, 0.1);
}
.-in-range-.-focus-.datepicker--cell-day.-other-month-,
.-in-range-.-focus-.datepicker--cell-year.-other-decade- {
  background-color: rgba(92, 196, 239, 0.2);
}
.datepicker--cell-day.-other-month-:empty,
.datepicker--cell-year.-other-decade-:empty {
  background: none;
  border: none;
}

/* -------------------------------------------------
    Datepicker cells
   ------------------------------------------------- */
.datepicker--cells {
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;

      -ms-flex-wrap: wrap;
}

.datepicker--cell {
  position: relative;
  z-index: 1;

  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
  box-sizing: border-box;
  height: 32px;

  border-radius: 4px;
  cursor: pointer;

  -ms-flex-align: center;
  -ms-flex-pack: center;
}
.datepicker--cell.-focus- {
  background: #f0f0f0;
}
.datepicker--cell.-current- {
  color: #4eb5e6;
}
.datepicker--cell.-current-.-focus- {
  color: #4a4a4a;
}
.datepicker--cell.-current-.-in-range- {
  color: #4eb5e6;
}
.datepicker--cell.-in-range- {
  color: #4a4a4a;

  background: rgba(92, 196, 239, 0.1);
  border-radius: 0;
}
.datepicker--cell.-in-range-.-focus- {
  background-color: rgba(92, 196, 239, 0.2);
}
.datepicker--cell.-disabled- {
  color: #aeaeae;

  cursor: default;
}
.datepicker--cell.-disabled-.-focus- {
  color: #aeaeae;
}
.datepicker--cell.-disabled-.-in-range- {
  color: #a1a1a1;
}
.datepicker--cell.-disabled-.-current-.-focus- {
  color: #aeaeae;
}
.datepicker--cell.-range-from- {
  background-color: rgba(92, 196, 239, 0.1);
  border: 1px solid rgba(92, 196, 239, 0.5);
  border-radius: 4px 0 0 4px;
}
.datepicker--cell.-range-to- {
  background-color: rgba(92, 196, 239, 0.1);
  border: 1px solid rgba(92, 196, 239, 0.5);
  border-radius: 0 4px 4px 0;
}
.datepicker--cell.-range-from-.-range-to- {
  border-radius: 4px;
}
.datepicker--cell.-selected- {
  color: #ffffff;

  background: #5cc4ef;
  border: none;
}
.datepicker--cell.-selected-.-current- {
  color: #ffffff;

  background: #5cc4ef;
}
.datepicker--cell.-selected-.-focus- {
  background: #45bced;
}
.datepicker--cell:empty {
  cursor: default;
}

.datepicker--days-names {
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 8px 0 3px;

      -ms-flex-wrap: wrap;
}

.datepicker--day-name {
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;

  font-size: 0.8em;
  text-align: center;
  color: #ec343c;
  text-transform: uppercase;

  -ms-flex-align: center;
  -ms-flex-pack: center;
}

.datepicker--cell-day {
  width: 14.28571%;
}

.datepicker--cells-months {
  height: 170px;
}

.datepicker--cell-month {
  width: 33.33%;
  height: 25%;
}

.datepicker--years {
  height: 170px;
}

.datepicker--cells-years {
  height: 170px;
}

.datepicker--cell-year {
  width: 25%;
  height: 33.33%;
}

.datepicker--cell-day.-other-month-,
.datepicker--cell-year.-other-decade- {
  color: #dedede;
}
.datepicker--cell-day.-other-month-:hover,
.datepicker--cell-year.-other-decade-:hover {
  color: #c5c5c5;
}
.-disabled-.-focus-.datepicker--cell-day.-other-month-,
.-disabled-.-focus-.datepicker--cell-year.-other-decade- {
  color: #dedede;
}
.-selected-.datepicker--cell-day.-other-month-,
.-selected-.datepicker--cell-year.-other-decade- {
  color: #ffffff;

  background: #a2ddf6;
}
.-selected-.-focus-.datepicker--cell-day.-other-month-,
.-selected-.-focus-.datepicker--cell-year.-other-decade- {
  background: #8ad5f4;
}
.-in-range-.datepicker--cell-day.-other-month-,
.-in-range-.datepicker--cell-year.-other-decade- {
  color: #cccccc;

  background-color: rgba(92, 196, 239, 0.1);
}
.-in-range-.-focus-.datepicker--cell-day.-other-month-,
.-in-range-.-focus-.datepicker--cell-year.-other-decade- {
  background-color: rgba(92, 196, 239, 0.2);
}
.datepicker--cell-day.-other-month-:empty,
.datepicker--cell-year.-other-decade-:empty {
  background: none;
  border: none;
}

/* -------------------------------------------------
    Datepicker
   ------------------------------------------------- */
.datepickers-container {
  position: absolute;
  top: 0;
  left: 0;
}
@media print {
  .datepickers-container {
    display: none;
  }
}

.datepicker {
  position: absolute;
  left: -100000px;
  z-index: 100;

  box-sizing: content-box;
  width: 250px;

  font-size: 14px;
  font-family: Tahoma, sans-serif;
  color: #4a4a4a;

  background: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  opacity: 0;

  transition: opacity 0.3s ease, left 0s 0.3s, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0.3s;
  transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0.3s, -webkit-transform 0.3s ease;
}
.datepicker.-from-top- {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}
.datepicker.-from-right- {
  -webkit-transform: translateX(8px);
          transform: translateX(8px);
}
.datepicker.-from-bottom- {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}
.datepicker.-from-left- {
  -webkit-transform: translateX(-8px);
          transform: translateX(-8px);
}
.datepicker.active {
  -webkit-transform: translate(0);
          transform: translate(0);
  opacity: 1;

  transition: opacity 0.3s ease, left 0s 0s, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0s;
  transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0s, -webkit-transform 0.3s ease;
}

.datepicker-inline .datepicker {
  position: static;
  right: auto;
  left: auto;

  border-color: #d7d7d7;
  box-shadow: none;
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}

.datepicker-inline .datepicker--pointer {
  display: none;
}

.datepicker--content {
  box-sizing: content-box;
  padding: 4px;
}
.-only-timepicker- .datepicker--content {
  display: none;
}

.datepicker--pointer {
  position: absolute;
  z-index: -1;

  width: 10px;
  height: 10px;

  background: #ffffff;
  border-top: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
}
.-top-left- .datepicker--pointer,
.-top-center- .datepicker--pointer,
.-top-right- .datepicker--pointer {
  top: calc(100% - 4px);

  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
.-right-top- .datepicker--pointer,
.-right-center- .datepicker--pointer,
.-right-bottom- .datepicker--pointer {
  right: calc(100% - 4px);

  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}
.-bottom-left- .datepicker--pointer,
.-bottom-center- .datepicker--pointer,
.-bottom-right- .datepicker--pointer {
  bottom: calc(100% - 4px);

  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
}
.-left-top- .datepicker--pointer,
.-left-center- .datepicker--pointer,
.-left-bottom- .datepicker--pointer {
  left: calc(100% - 4px);

  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.-top-left- .datepicker--pointer,
.-bottom-left- .datepicker--pointer {
  left: 10px;
}
.-top-right- .datepicker--pointer,
.-bottom-right- .datepicker--pointer {
  right: 10px;
}
.-top-center- .datepicker--pointer,
.-bottom-center- .datepicker--pointer {
  left: calc(50% - 10px / 2);
}
.-left-top- .datepicker--pointer,
.-right-top- .datepicker--pointer {
  top: 10px;
}
.-left-bottom- .datepicker--pointer,
.-right-bottom- .datepicker--pointer {
  bottom: 10px;
}
.-left-center- .datepicker--pointer,
.-right-center- .datepicker--pointer {
  top: calc(50% - 10px / 2);
}

.datepicker--body {
  display: none;
}
.datepicker--body.active {
  display: block;
}

.datepicker--cell-day.-other-month-,
.datepicker--cell-year.-other-decade- {
  color: #dedede;
}
.datepicker--cell-day.-other-month-:hover,
.datepicker--cell-year.-other-decade-:hover {
  color: #c5c5c5;
}
.-disabled-.-focus-.datepicker--cell-day.-other-month-,
.-disabled-.-focus-.datepicker--cell-year.-other-decade- {
  color: #dedede;
}
.-selected-.datepicker--cell-day.-other-month-,
.-selected-.datepicker--cell-year.-other-decade- {
  color: #ffffff;

  background: #a2ddf6;
}
.-selected-.-focus-.datepicker--cell-day.-other-month-,
.-selected-.-focus-.datepicker--cell-year.-other-decade- {
  background: #8ad5f4;
}
.-in-range-.datepicker--cell-day.-other-month-,
.-in-range-.datepicker--cell-year.-other-decade- {
  color: #cccccc;

  background-color: rgba(92, 196, 239, 0.1);
}
.-in-range-.-focus-.datepicker--cell-day.-other-month-,
.-in-range-.-focus-.datepicker--cell-year.-other-decade- {
  background-color: rgba(92, 196, 239, 0.2);
}
.datepicker--cell-day.-other-month-:empty,
.datepicker--cell-year.-other-decade-:empty {
  background: none;
  border: none;
}

/* -------------------------------------------------
    Navigation
   ------------------------------------------------- */
.datepicker--nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  min-height: 32px;
  padding: 4px;

  border-bottom: 1px solid #efefef;

  -ms-flex-pack: justify;
}
.-only-timepicker- .datepicker--nav {
  display: none;
}

.datepicker--nav-title,
.datepicker--nav-action {
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;

  cursor: pointer;

  -ms-flex-align: center;
  -ms-flex-pack: center;
}

.datepicker--nav-action {
  width: 32px;

  border-radius: 4px;

  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.datepicker--nav-action:hover {
  background: #f0f0f0;
}
.datepicker--nav-action.-disabled- {
  visibility: hidden;
}
.datepicker--nav-action svg {
  width: 32px;
  height: 32px;
}
.datepicker--nav-action path {
  fill: none;
  stroke: #9c9c9c;
  stroke-width: 2px;
}

.datepicker--nav-title {
  padding: 0 8px;

  border-radius: 4px;
}
.datepicker--nav-title i {
  margin-left: 5px;

  color: #9c9c9c;
  font-style: normal;
}
.datepicker--nav-title:hover {
  background: #f0f0f0;
}
.datepicker--nav-title.-disabled- {
  background: none;
  cursor: default;
}

.datepicker--buttons {
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  padding: 4px;

  border-top: 1px solid #efefef;
}

.datepicker--button {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display:         inline-flex;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
  height: 32px;

  color: #4eb5e6;

  border-radius: 4px;
  cursor: pointer;

  -ms-flex-align: center;
  -ms-flex-pack: center;
}
.datepicker--button:hover {
  color: #4a4a4a;

  background: #f0f0f0;
}

.datepicker--cell-day.-other-month-,
.datepicker--cell-year.-other-decade- {
  color: #dedede;
}
.datepicker--cell-day.-other-month-:hover,
.datepicker--cell-year.-other-decade-:hover {
  color: #c5c5c5;
}
.-disabled-.-focus-.datepicker--cell-day.-other-month-,
.-disabled-.-focus-.datepicker--cell-year.-other-decade- {
  color: #dedede;
}
.-selected-.datepicker--cell-day.-other-month-,
.-selected-.datepicker--cell-year.-other-decade- {
  color: #ffffff;

  background: #a2ddf6;
}
.-selected-.-focus-.datepicker--cell-day.-other-month-,
.-selected-.-focus-.datepicker--cell-year.-other-decade- {
  background: #8ad5f4;
}
.-in-range-.datepicker--cell-day.-other-month-,
.-in-range-.datepicker--cell-year.-other-decade- {
  color: #cccccc;

  background-color: rgba(92, 196, 239, 0.1);
}
.-in-range-.-focus-.datepicker--cell-day.-other-month-,
.-in-range-.-focus-.datepicker--cell-year.-other-decade- {
  background-color: rgba(92, 196, 239, 0.2);
}
.datepicker--cell-day.-other-month-:empty,
.datepicker--cell-year.-other-decade-:empty {
  background: none;
  border: none;
}

/* -------------------------------------------------
    Timepicker
   ------------------------------------------------- */
.datepicker--time {
  position: relative;

  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  padding: 4px;

  border-top: 1px solid #efefef;

  -ms-flex-align: center;
}
.datepicker--time.-am-pm- .datepicker--time-sliders {
  -webkit-flex: 0 1 138px;
      -ms-flex: 0 1 138px;
          flex: 0 1 138px;
  max-width: 138px;
}
.-only-timepicker- .datepicker--time {
  border-top: none;
}

.datepicker--time-sliders {
  -webkit-flex: 0 1 153px;
      -ms-flex: 0 1 153px;
          flex: 0 1 153px;
  max-width: 153px;
  margin-right: 10px;
}

.datepicker--time-label {
  display: none;

  font-size: 12px;
}

.datepicker--time-current {
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-align-items: center;
          align-items: center;
  margin: 0 0 0 10px;

  font-size: 14px;
  text-align: center;

  -ms-flex-align: center;
}

.datepicker--time-current-colon {
  margin: 0 2px 3px;

  line-height: 1;
}

.datepicker--time-current-hours,
.datepicker--time-current-minutes {
  position: relative;
  z-index: 1;

  font-size: 19px;
  line-height: 1;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
.datepicker--time-current-hours:after,
.datepicker--time-current-minutes:after {
  content: "";
  position: absolute;
  top: -3px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  z-index: -1;

  background: #f0f0f0;
  border-radius: 4px;
  opacity: 0;
}
.datepicker--time-current-hours.-focus-:after,
.datepicker--time-current-minutes.-focus-:after {
  opacity: 1;
}

.datepicker--time-current-ampm {
  -webkit-align-self: flex-end;
          align-self: flex-end;
  margin-bottom: 1px;
  margin-left: 6px;

  font-size: 11px;
  color: #9c9c9c;
  text-transform: uppercase;

  -ms-flex-item-align: end;
}

.datepicker--time-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  height: 17px;

  font-size: 11px;

  background: linear-gradient(to right, #dedede, #dedede) left 50%/100% 1px no-repeat;

  -ms-flex-align: center;
}
.datepicker--time-row:first-child {
  margin-bottom: 4px;
}
.datepicker--time-row input[type="range"] {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  margin: 0;
  padding: 0;

  background: none;
  cursor: pointer;

  -webkit-appearance: none;
}
.datepicker--time-row input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
.datepicker--time-row input[type="range"]::-ms-tooltip {
  display: none;
}
.datepicker--time-row input[type="range"]:hover::-webkit-slider-thumb {
  border-color: #b8b8b8;
}
.datepicker--time-row input[type="range"]:hover::-moz-range-thumb {
  border-color: #b8b8b8;
}
.datepicker--time-row input[type="range"]:hover::-ms-thumb {
  border-color: #b8b8b8;
}
.datepicker--time-row input[type="range"]:focus {
  outline: none;
}
.datepicker--time-row input[type="range"]:focus::-webkit-slider-thumb {
  background: #5cc4ef;
  border-color: #5cc4ef;
}
.datepicker--time-row input[type="range"]:focus::-moz-range-thumb {
  background: #5cc4ef;
  border-color: #5cc4ef;
}
.datepicker--time-row input[type="range"]:focus::-ms-thumb {
  background: #5cc4ef;
  border-color: #5cc4ef;
}
.datepicker--time-row input[type="range"]::-webkit-slider-thumb {
  box-sizing: border-box;
  width: 12px;
  height: 12px;

  background: #ffffff;
  border: 1px solid #dedede;
  border-radius: 3px;
  cursor: pointer;

  transition: background 0.2s;
}
.datepicker--time-row input[type="range"]::-moz-range-thumb {
  box-sizing: border-box;
  width: 12px;
  height: 12px;

  background: #ffffff;
  border: 1px solid #dedede;
  border-radius: 3px;
  cursor: pointer;

  transition: background 0.2s;
}
.datepicker--time-row input[type="range"]::-ms-thumb {
  box-sizing: border-box;
  width: 12px;
  height: 12px;

  background: #ffffff;
  border: 1px solid #dedede;
  border-radius: 3px;
  cursor: pointer;

  transition: background 0.2s;
}
.datepicker--time-row input[type="range"]::-webkit-slider-thumb {
  margin-top: -6px;
}
.datepicker--time-row input[type="range"]::-webkit-slider-runnable-track {
  height: 1px;

  color: transparent;

  background: transparent;
  border: none;
  cursor: pointer;
}
.datepicker--time-row input[type="range"]::-moz-range-track {
  height: 1px;

  color: transparent;

  background: transparent;
  border: none;
  cursor: pointer;
}
.datepicker--time-row input[type="range"]::-ms-track {
  height: 1px;

  color: transparent;

  background: transparent;
  border: none;
  cursor: pointer;
}
.datepicker--time-row input[type="range"]::-ms-fill-lower {
  background: transparent;
}
.datepicker--time-row input[type="range"]::-ms-fill-upper {
  background: transparent;
}
.datepicker--time-row span {
  padding: 0 12px;
}

.datepicker--time-icon {
  position: relative;

  width: 1em;
  height: 1em;
  margin: 0 5px -1px 0;

  font-size: 16px;
  color: #9c9c9c;

  border: 1px solid;
  border-radius: 50%;
}
.datepicker--time-icon:after,
.datepicker--time-icon:before {
  content: "";
  position: absolute;

  background: currentColor;
}
.datepicker--time-icon:after {
  top: calc(50% + 1px);
  left: calc(50% - 1px);

  width: 1px;
  height: 0.4em;

  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.datepicker--time-icon:before {
  top: calc(50% + 1px);
  left: calc(50% - 1px);

  width: 0.4em;
  height: 1px;
}

.datepicker--cell-day.-other-month-,
.datepicker--cell-year.-other-decade- {
  color: #dedede;
}
.datepicker--cell-day.-other-month-:hover,
.datepicker--cell-year.-other-decade-:hover {
  color: #c5c5c5;
}
.-disabled-.-focus-.datepicker--cell-day.-other-month-,
.-disabled-.-focus-.datepicker--cell-year.-other-decade- {
  color: #dedede;
}
.-selected-.datepicker--cell-day.-other-month-,
.-selected-.datepicker--cell-year.-other-decade- {
  color: #ffffff;

  background: #a2ddf6;
}
.-selected-.-focus-.datepicker--cell-day.-other-month-,
.-selected-.-focus-.datepicker--cell-year.-other-decade- {
  background: #8ad5f4;
}
.-in-range-.datepicker--cell-day.-other-month-,
.-in-range-.datepicker--cell-year.-other-decade- {
  color: #cccccc;

  background-color: rgba(92, 196, 239, 0.1);
}
.-in-range-.-focus-.datepicker--cell-day.-other-month-,
.-in-range-.-focus-.datepicker--cell-year.-other-decade- {
  background-color: rgba(92, 196, 239, 0.2);
}
.datepicker--cell-day.-other-month-:empty,
.datepicker--cell-year.-other-decade-:empty {
  background: none;
  border: none;
}
