// .info-card__title {
//   margin: 0 0 20px;
//   padding: 0;

//   font-weight: 700;
//   font-size: 14px;
//   line-height: 18px;
//   text-align: center;
//   text-transform: uppercase;
// }

// .info-card__description {
//   margin: 0;
//   padding: 0 50px;

//   font-size: 14px;
//   line-height: 18px;
//   font-family: "MinionPro-MediumSubh";
//   text-align: center;
//   font-style: italic;
// }

.info-card__icon {
  position: absolute;
  top: -5px;
  left: 0;

  width: 35px;
  height: 35px;

  &--placeholder {
    left: 20px;
  }

  &--note {
    left: 20px;
  }
}

.info-card__title {
  @include MP-reset();

  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;

  & a {
    text-decoration: underline;
  }
}

.info-card__description {
  @include MP-reset();

  padding: 0 50px;

  font-family: "MinionPro-MediumSubh";
  text-align: center;
  font-style: italic;

  & a {
    text-decoration: underline;
  }
}
