.info-card__title {
  margin: 0 0 20px;
  padding: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
}

.info-card__description {
  margin: 0;
  padding: 0 50px;

  font-size: 14px;
  line-height: 18px;
  font-family: "MinionPro-MediumSubh";
  text-align: center;
  font-style: italic;
}
