.main-info {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 80px;
  padding: 0 110px;

  color: rgb(43, 43, 43);

  @media (max-width: $desktop) {
    max-width: none;
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 0 10px;
  }
}

.main-info__header {
  padding-left: 50px;

  @media (max-width: $desktop) {
    padding-left: 0;
  }
}

.main-info__header-list {
  @include list-reset();

  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;

  @media (max-width: $desktop) {
    flex-direction: column;
    margin-bottom: 30px;
  }
}

.main-info__header-item {
  position: relative;
  // min-width: 290px;

  width: 33%;

  font-size: 14px;
  line-height: 18px;
  color: rgb(43, 43, 43);

  @media (max-width: $desktop) {
    margin-bottom: 40px;
  }
}

.main-info__content {
  margin-bottom: 80px;

  text-align: center;
}

.main-info__title {
  @include MP-reset();

  position: relative;

  margin-bottom: 80px;
  padding-left: 20px;

  font-size: 30px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.6em;

  &::after {
    content: "";
    position: absolute;
    bottom: -40px;
    // left: 455px;
    left: 50%;

    width: 50px;
    height: 1px;
    // border-bottom: 1px solid black;

    transform: translateX(-50%);
    // transform: translateX(-25px);
    transform-origin: center;
  }

  @media (max-width: $desktop) {
    margin-bottom: 30px;
  }
}

.main-info__description {
  @include MP-reset();

  display: inline-block;
  max-width: 470px;
  margin-bottom: 80px;

  font-size: 18px;
  line-height: 24px;
  font-family: "MinionPro-It";
  text-align: center;
  font-style: italic;

  @media (max-width: $desktop) {
    margin-bottom: 50px;
  }
}


.main-info__footer-list {
  @include list-reset();

  display: flex;
  justify-content: space-between;

  @media (max-width: $desktop) {
    flex-direction: column;
  }
}
