
.main-navigation__list {
  @include list-reset;

  display: flex;
  justify-content: space-between;

  @media (max-width: $desktop) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.main-navigation__item {
  display: flexbox;
  flex-grow: 1;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-left: 40px;

  font-size: 12px;
  line-height: 3;
  text-transform: uppercase;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    flex-grow: 0;
    padding-left: 40px;
  }

  @media (max-width: $desktop) {
    margin-bottom: 18px;
    padding: 0;

    line-height: 1.6em;

    border-bottom: 1px solid gray;


    &:last-child {
      padding: 0;
    }
  }
}

.main-navigation__link {
  display: inline-block;
  width: 100%;
  height: 100%;

  vertical-align: middle;
  // text-align: center;
}
