.main-chief {
  position: relative;

  max-width: none;
  margin: 0 auto;
  margin-top: 40px;

  text-align: center;
}

.main-chief__content {
  width: 1900px;
  height: 733px;

  background-image: url("../../img/chief.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main-chief__card {
  position: absolute;
  bottom: 0;
  left: 50%;

  width: 630px;
  height: 400px;

  background-color: #ffffff;
}

.main-chief__title {
  @include MP-reset();

  position: relative;

  margin-bottom: 80px;
  padding-left: 20px;

  font-size: 30px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.6em;

  &::after {
    content: "";
    position: absolute;
    bottom: -40px;
    // left: 455px;
    left: 50%;

    width: 50px;
    height: 1px;

    border-bottom: 1px solid black;
    transform: translateX(-50%);
    // transform: translateX(-25px);
    transform-origin: center;
  }
}

.main-chief__description {
  @include MP-reset();

  display: inline-block;
  max-width: 470px;
  margin-bottom: 40px;

  font-size: 18px;
  line-height: 24px;
  font-family: "MinionPro-It";
  text-align: center;
  font-style: italic;
}
