.main-about {
  position: relative;

  width: 1900px;
  height: 786px;

  background-image: url("../../img/3.jpg");
  background-repeat: no-repeat;
}

.about-container {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0 110px;
}

.about-content {
  position: absolute;
  bottom: 0;

  width: 630px;
  height: 460px;
  // z-index: 2;
  padding: 0 30px;

  background-color: #ffffff;
}

.about__title {
  margin-top: 80px;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 6.3px;
}

.about__chapter {
  margin-bottom: 20px;

  font-size: 16px;
  line-height: 21px;
  font-family: "MinionPro-MediumSubh";
  font-style: italic;
}

.about__description {
  @include MP-reset();

  margin-bottom: 100px;

  font-size: 15px;
  line-height: 18px;
}

.about__link {
  position: relative;

  padding-left: 55px;

  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: underline;
  letter-spacing: 0.15em;

  &::before {
    content: "";
    position: absolute;
    top: -18px;
    left: 0;

    width: 44px;
    height: 44px;

    border: 2px solid black;
    border-radius: 50%;
  }

  &::after {
    content: ">";
    position: absolute;
    top: -1px;
    left: 17px;

    font-size: 24px;
    color: #000000;
  }
}
