.main-carte {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 550px;

  text-align: center;
}

.main-carte__title {
  @include MP-reset();

  position: relative;

  margin-bottom: 80px;
  padding-left: 20px;

  font-size: 30px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.6em;

  &::after {
    content: "";
    position: absolute;
    bottom: -40px;
    // left: 455px;
    left: 50%;

    width: 50px;
    height: 1px;

    border-bottom: 1px solid black;
    transform: translateX(-50%);
    // transform: translateX(-25px);
    transform-origin: center;
  }
}

.main-carte__description {
  @include MP-reset();

  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  // align-items: center;
  max-width: 470px;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;

  font-size: 18px;
  line-height: 24px;
  font-family: "MinionPro-It";
  text-align: center;
  font-style: italic;

  & p {
    @include MP-reset();

    margin-bottom: 20px;
  }

  & a:first-child {
    margin-left: -20px;
  }
}

.carte-slider__list {
  @include list-reset();

  position: absolute;

  display: flex;
  width: 100%;
  max-width: none;
  margin-left: -350px;
  overflow-x: scroll;
}

.main-carte__button {
  flex-grow: 1;
  flex-shrink: 1;
  // width: 230px;
  margin-left: 20px;
  padding: 10px;

  color: #ffffff;
  font-style: normal;

  background-color: rgba(43, 43, 43, 1);
  border: solid rgba(43, 43, 43, 1) 0;
}

.main-carte__food {
  margin-left: 0;
}

.carte-slider__item {
  flex-shrink: 0;
  width: 696px;
  height: 464px;
}
