.contact-info {
  border-bottom: 1px solid rgba(96, 94, 94, 0.68);
}

.main-contacts {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 80px;

  text-align: center;
}

.main-contacts__title {
  @include MP-reset();

  position: relative;

  margin-bottom: 80px;
  padding-left: 20px;

  font-size: 30px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.6em;

  &::after {
    content: "";
    position: absolute;
    bottom: -40px;
    // left: 455px;
    left: 50%;

    width: 50px;
    height: 1px;

    border-bottom: 1px solid black;
    transform: translateX(-50%);
    // transform: translateX(-25px);
    transform-origin: center;
  }
}

.main-contacts__description {
  @include MP-reset();

  display: inline-block;
  max-width: 470px;
  margin-bottom: 40px;

  font-size: 18px;
  line-height: 24px;
  font-family: "MinionPro-It";
  text-align: center;
  font-style: italic;
}

.main-contacts__list-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 110px;

  @media (max-width: $desktop) {
    padding: 0 10px;
  }
}

.main-contacts__list {
  @include list-reset();

  display: flex;
  justify-content: space-between;
  width: 980px;
  margin-top: 40px;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
  padding: 0 25px;

  @media (max-width: $desktop) {
    flex-direction: column;
    width: 100%;
    margin-bottom: 0;
  }
}

.main-contacts__item {
  position: relative;
  // min-width: 290px;

  width: 33%;

  font-size: 14px;
  line-height: 18px;
  color: rgb(43, 43, 43);

  @media (max-width: $desktop) {
    width: 100%;
  }
}

.main-contacts__map {
  width: 100%;
  max-width: none;
  height: 345px;
  margin-bottom: 80px;

  border-bottom: 1px solid rgba(96, 94, 94, 0.68);
  & iframe {
    position: absolute;
    left: 0;

    width: 100%;
    min-width: none;

    // border-bottom: 1px solid rgba(96, 94, 94, 0.68);
    // filter: grayscale(90%);
  }
}

.main-contacts__map-iframe {
  height: 100%;
}

.popup-marker {
  @include MP-reset();

  padding-right: 5px;
  // width: 100px;
  padding-left: 5px;
  // height: 100%;

  text-align: center;

  & p {
    @include MP-reset();
  }
}

.marker__title {
  @include MP-reset();
}
