// .main-container__order {
//   width: 1200px;
//   margin: 0 auto;
//   padding: 0 110px;

//   // text-align: center;
// }

.main-order {
  @include MP-reset();

  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 110px;
  padding-top: 40px;
  padding-bottom: 30px;

  // text-align: center;

  @media (max-width: $desktop) {
    width: 100%;
    padding: 0 10px;
  }
}

.main-order__title {
  @include MP-reset();

  position: relative;

  margin-bottom: 60px;
  padding-left: 20px;

  font-size: 25px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;

  &::after {
    content: "";
    position: absolute;
    bottom: -30px;
    // left: 455px;
    left: 50%;

    width: 50px;
    height: 1px;

    border-bottom: 1px solid black;
    transform: translateX(-50%);
    // transform: translateX(-25px);
    transform-origin: center;
  }

  @media (max-width: $desktop) {
    margin-top: 20px;
  }
}

.main-order__chapter {
  @include MP-reset();

  display: inline-block;
  // max-width: 470px;
  width: 100%;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;

  font-size: 18px;
  line-height: 24px;
  font-family: "MinionPro-It";
  text-align: center;
  font-style: italic;
}

.main-order__form {
  margin: 0 auto;
}

.main-contacs {
  border-top: 1px solid  rgba(96,94,94,0.68);
  border-bottom: 1px solid rgba(96,94,94,0.68);;
}

.main-contacts__title--order {
  margin: 0;
}
