.page-header {
  position: fixed;
  z-index: 20;

  width: 100%;
  margin-top: -200px;
  // margin-top: -10px;

  background-color: #ffffff;
  // border-bottom: 1px solid rgba(96, 94, 94, 0.68);
  border-bottom: 1px solid #979595;
  // @media (max-width: $desktop) {
  //   padding: 0 10px;
  // }

  @media (max-width: $desktop) {
    position: static;

    margin-top: 0;
  }
}

.page-header__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 150px;

  @media (max-width: $desktop) {
    max-width: 375px;
    padding: 0 20px;
  }
}

.page-header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;

  @media (max-width: $desktop) {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.page-header__main-logo {
  width: 90px;
  height: 90px;

  & img {
    display: block;
    width: 100%;
    height: 100%;

    color: transparent;
  }

  @media (max-width: $desktop) {
    width: 70px;
    height: 70px;
    // margin: 0 20px;

    & img {
      width: 100%;
      height: auto;
    }
  }
}

.page-header__button {
  // display: block;
  width: 257px;
  height: 37px;

  font-weight: 700;
  font-size: 16px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;

  border: 1px solid rgba(96, 94, 94, 0.68);

  transition-duration: 0.4s;

  @media (max-width: $desktop) {
    order: 2;
    // width: 130px;
    width: 100%;
    height: 37px;
    margin-top: 20px;

    font-size: 13px;
  }


  &:hover,
  &:focus {
    color: #ffffff;

    background-color: rgba(0, 0, 0, 1);
    border-color: rgba(0, 0, 0, 1);
  }
}

.page-header__feedback {
  display: flex;
  flex-direction: column;
  padding-left: 55px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.25em;
  font-family: "MinionPro-MediumSubh";
  color: black;
  font-style: normal;
  letter-spacing: 2.8px;

  @media (max-width: $desktop) {
    align-items: flex-end;
    width: 120px;
    padding: 0;
    // padding-left: 10px;

    font-size: 10px;
    letter-spacing: 1.5px;
  }
}

.page-header__phone {
  margin-bottom: 4px;

  text-decoration: underline;
}

.page-header__feedback-text {
  @include MP-reset();

  font-style: italic;
  letter-spacing: 0.15em;

  @media (max-width: $desktop) {
    text-align: end;
  }
}

.page-header__bottom {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 15px;
}

.page-header__ham-button {
  @include btn-reset();

  display: none;
  width: 50px;
  height: 50px;

  background-color: rgba(43, 43, 43, 1);
  border-radius: 5px;
  outline: none;

  @media (max-width: $desktop) {
    display: block;
  }
}
